__pycache__/
*.pyc
*.egg-info/
dist/
build/

/.idea/
**/ros2_ws/install/
**/ros2_ws/log/
**/ros2_ws/build/
**/cmake-build-debug/

.venv/.vscode/browse.vc.db*
.vscode/ipch/

# VS Code C/C++ IntelliSense DB
.vscode/browse.vc.db*
.vscode/ipch/
